<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<meta property="og:title" content="Questionnaire Maker" />
<meta property="og:description" content="Introduction Questionnaire Maker is a WordPress and Hugo plugin that asks a series of questions and produces a PDF report. The project is on Github.
Documentation The plugin uses the shortcodes [questionnaire-questions] and [questionnaire-report], or {{&lt; questionnaire-questions &gt;}} and {{&lt; questionnaire-report &gt;}}. The shortcode will be replaced on the page with a series of panels containing the questions and options for the answers, or a panel with a preview of the report." />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://billthefarmer.github.io/blog/post/questionnaire/" /><meta property="article:section" content="post" />
<meta property="article:published_time" content="2018-08-20T17:14:32+01:00" />
<meta property="article:modified_time" content="2018-08-20T17:14:32+01:00" />

<meta itemprop="name" content="Questionnaire Maker">
<meta itemprop="description" content="Introduction Questionnaire Maker is a WordPress and Hugo plugin that asks a series of questions and produces a PDF report. The project is on Github.
Documentation The plugin uses the shortcodes [questionnaire-questions] and [questionnaire-report], or {{&lt; questionnaire-questions &gt;}} and {{&lt; questionnaire-report &gt;}}. The shortcode will be replaced on the page with a series of panels containing the questions and options for the answers, or a panel with a preview of the report."><meta itemprop="datePublished" content="2018-08-20T17:14:32+01:00" />
<meta itemprop="dateModified" content="2018-08-20T17:14:32+01:00" />
<meta itemprop="wordCount" content="643">
<meta itemprop="keywords" content="" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Questionnaire Maker"/>
<meta name="twitter:description" content="Introduction Questionnaire Maker is a WordPress and Hugo plugin that asks a series of questions and produces a PDF report. The project is on Github.
Documentation The plugin uses the shortcodes [questionnaire-questions] and [questionnaire-report], or {{&lt; questionnaire-questions &gt;}} and {{&lt; questionnaire-report &gt;}}. The shortcode will be replaced on the page with a series of panels containing the questions and options for the answers, or a panel with a preview of the report."/>






<meta name="generator" content="Hugo 0.115.0">


    <base href="https://billthefarmer.github.io/blog/">
    <link rel="canonical" href="https://billthefarmer.github.io/blog/post/questionnaire/">
    <title>Questionnaire Maker | Bill Farmer</title>

    <!-- CSS -->
    <link href="https://billthefarmer.github.io/blog/css/app.css" rel="stylesheet">
    
    

    
    

<style>
.callout.large {
    background-image: url(https://billthefarmer.github.io/blog/images/2013/12/cropped-P1010089.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.callout.large a, .callout.large p {
    color: white;
}
pre {
    margin-top: 16px;
    margin-bottom: 16px;
}
code {
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a;
}
table {
    width: auto !important;
}
</style>




  </head>
  <body>

    <header class="nav">
      <div class="top-bar">
        <div class="row column">
          <div class="top-bar-left">
            <ul class="menu">
              <li class=""><a href="https://billthefarmer.github.io/blog/">
                Home
              </a></li>
              
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/">
                    Categories
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/hacking/">
                    Hacking
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/recipes/">
                    Recipes
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/diy/">
                    DIY
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/electronics/">
                    Electronics
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/index/">
                    Index
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/morris-o-meter/">
                    Morris-o-meter
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/about/">
                    About
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/test-o-meter/">
                    Test-o-meter
                  </a></li>
                
              
            </ul>
          </div>
        </div>
      </div>
    </header>

    <header class="blog-header">
      <div class="callout large">
        <div class="row column text-center">
          <h1>
            <a href="https://billthefarmer.github.io/blog/" rel="home">Bill Farmer</a>
          </h1>
          
            <p>
              Random thoughts on random subjects
            </p>
          
        </div>
      </div>
    </header>

    <main>
      <div class="row" id="content">
        <div class="medium-8 columns">
          
  


  <div class="blog-post">
    <h3>
      <a href="https://billthefarmer.github.io/blog/post/questionnaire/">Questionnaire Maker</a>
    </h3>
    <div class="callout small">
      <small>
        <time datetime="2018-08-20T17:14:32&#43;01:00">
          Mon Aug 20, 2018
        </time> by Bill Farmer.
        Categories: 
  
    
      <a href="/categories/hacking">
        Hacking
      </a>
  

.
        
        <br>
        
      </small>
    </div>
    <p>
      <h3 id="introduction">Introduction</h3>
<p>Questionnaire Maker is a WordPress and Hugo plugin that asks a series
of questions and produces a PDF report. The project is on <a href="https://github.com/billthefarmer/questionnaire">Github</a>.</p>
<h3 id="documentation">Documentation</h3>
<p>The plugin uses the shortcodes <code>[questionnaire-questions]</code> and
<code>[questionnaire-report]</code>, or <code>{{&lt; questionnaire-questions &gt;}}</code> and
<code>{{&lt; questionnaire-report &gt;}}</code>. The shortcode will be replaced on the
page with a series of panels containing the questions and options for
the answers, or a panel with a preview of the report.</p>
<p>The plugin requires a large amount of structured data, currently
encoded as a Javascript object.</p>
<h4 id="question-data">Question data</h4>
<div class="highlight"><pre tabindex="0" style="background-color:#f8f8f8;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-javascript" data-lang="javascript"><span style="display:flex;"><span><span style="color:#a2f;font-weight:bold">let</span> data <span style="color:#666">=</span>
</span></span><span style="display:flex;"><span>    {intro<span style="color:#666">:</span> <span style="color:#b44">&#34;Please answer the following questions as carefully and accurately as you can&#34;</span>,
</span></span><span style="display:flex;"><span>     questions<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     [{q<span style="color:#666">:</span> <span style="color:#b44">&#34;I prefer curry with&#34;</span>,
</span></span><span style="display:flex;"><span>       t<span style="color:#666">:</span> <span style="color:#b44">&#34;B&#34;</span>,
</span></span><span style="display:flex;"><span>       a<span style="color:#666">:</span> [<span style="color:#b44">&#34;Papadums&#34;</span>,
</span></span><span style="display:flex;"><span>           <span style="color:#b44">&#34;Chango Mutney&#34;</span>],
</span></span><span style="display:flex;"><span>       v<span style="color:#666">:</span> [<span style="color:#666">2</span>, <span style="color:#666">4</span>]},...],
</span></span><span style="display:flex;"><span>     last<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     {q<span style="color:#666">:</span> <span style="color:#b44">&#34;Where do you get your curry?&#34;</span>,
</span></span><span style="display:flex;"><span>      a<span style="color:#666">:</span> [<span style="color:#b44">&#34;Make my own&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Ready meals&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Take away&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Indian restaurant&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Wetherspoons&#34;</span>],
</span></span><span style="display:flex;"><span>      t<span style="color:#666">:</span> <span style="color:#b44">&#34;S&#34;</span>,
</span></span><span style="display:flex;"><span>      v<span style="color:#666">:</span> [<span style="color:#666">2</span>, <span style="color:#666">4</span>, <span style="color:#666">6</span>, <span style="color:#666">8</span>, <span style="color:#666">10</span>]},
</span></span><span style="display:flex;"><span>     matrix<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     {B<span style="color:#666">:</span> [<span style="color:#b44">&#34;Introspective&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Unimaginative&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Extrovertive&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Innovative&#34;</span>,
</span></span><span style="display:flex;"><span>          <span style="color:#b44">&#34;Explorative&#34;</span>],...}
</span></span><span style="display:flex;"><span>    };
</span></span></code></pre></div><p>The fields are:</p>
<ul>
<li><strong>intro</strong> - Introductory text</li>
<li><strong>questions</strong> - A series of questions with fields:
<ul>
<li><strong>q</strong> - The question text</li>
<li><strong>t</strong> - The type of question</li>
<li><strong>a</strong> - The options for answers</li>
<li><strong>v</strong> - Array of values for answers</li>
</ul>
</li>
<li><strong>last</strong> - The last question, fields as above</li>
<li><strong>matrix</strong> - Object containing possible texts for each type of question</li>
</ul>
<p>The intro text appears on the first panel together with a start
button. The questions will appear on subsequent panels. The last
question triggers a contact panel which prompts for name and email
address.</p>
<h4 id="report-data">Report data</h4>
<div class="highlight"><pre tabindex="0" style="background-color:#f8f8f8;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-javascript" data-lang="javascript"><span style="display:flex;"><span><span style="color:#a2f;font-weight:bold">let</span> data <span style="color:#666">=</span>
</span></span><span style="display:flex;"><span>    {pages<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     [{pageno<span style="color:#666">:</span> <span style="color:#666">1</span>,
</span></span><span style="display:flex;"><span>       images<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>       [{src<span style="color:#666">:</span> <span style="color:#b44">&#39;images/Header.png&#39;</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;png&#39;</span>},
</span></span><span style="display:flex;"><span>        {src<span style="color:#666">:</span> <span style="color:#b44">&#39;images/Footer.png&#39;</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;png&#39;</span>,
</span></span><span style="display:flex;"><span>         y<span style="color:#666">:</span> <span style="color:#666">-</span><span style="color:#666">1</span>}],
</span></span><span style="display:flex;"><span>       text<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>       [{text<span style="color:#666">:</span> <span style="color:#b44">&#34;~forename~ ~lastname~&#34;</span>,
</span></span><span style="display:flex;"><span>         size<span style="color:#666">:</span> <span style="color:#666">24</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;bold&#39;</span>,
</span></span><span style="display:flex;"><span>         y<span style="color:#666">:</span> <span style="color:#666">532</span>}]},
</span></span><span style="display:flex;"><span>      {pageno<span style="color:#666">:</span> <span style="color:#666">2</span>,
</span></span><span style="display:flex;"><span>       images<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>       [{src<span style="color:#666">:</span> <span style="color:#b44">&#39;images/Mugshot.jpg&#39;</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;jpeg&#39;</span>,
</span></span><span style="display:flex;"><span>         x<span style="color:#666">:</span> <span style="color:#666">-</span><span style="color:#666">1</span>,
</span></span><span style="display:flex;"><span>         width<span style="color:#666">:</span> <span style="color:#666">225</span>}],
</span></span><span style="display:flex;"><span>       text<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>       [{text<span style="color:#666">:</span> <span style="color:#b44">&#34;How to read your report&#34;</span>,
</span></span><span style="display:flex;"><span>         size<span style="color:#666">:</span> <span style="color:#666">18</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;bold&#39;</span>},
</span></span><span style="display:flex;"><span>        {text<span style="color:#666">:</span> <span style="color:#b44">&#34;Dear ~forename~&#34;</span>,
</span></span><span style="display:flex;"><span>         size<span style="color:#666">:</span> <span style="color:#666">12</span>,
</span></span><span style="display:flex;"><span>         type<span style="color:#666">:</span> <span style="color:#b44">&#39;normal&#39;</span>,
</span></span><span style="display:flex;"><span>         y<span style="color:#666">:</span> <span style="color:#666">340</span>},...]},...],
</span></span><span style="display:flex;"><span>     last<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     {images<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>      [{src<span style="color:#666">:</span> <span style="color:#b44">&#39;images/Image.jpg&#39;</span>,
</span></span><span style="display:flex;"><span>        type<span style="color:#666">:</span> <span style="color:#b44">&#39;jpeg&#39;</span>,
</span></span><span style="display:flex;"><span>        y<span style="color:#666">:</span> <span style="color:#666">156</span>,
</span></span><span style="display:flex;"><span>        link<span style="color:#666">:</span> <span style="color:#b44">&#39;https://github.com/billthefarmer/questionnaire&#39;</span>}],
</span></span><span style="display:flex;"><span>     text<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     [{text<span style="color:#666">:</span> <span style="color:#b44">&#34;Note&#34;</span>,
</span></span><span style="display:flex;"><span>       type<span style="color:#666">:</span> <span style="color:#b44">&#39;bold&#39;</span>},
</span></span><span style="display:flex;"><span>      {text<span style="color:#666">:</span> <span style="color:#b44">&#34;Text paragraph&#34;</span>,
</span></span><span style="display:flex;"><span>       type<span style="color:#666">:</span> <span style="color:#b44">&#39;normal&#39;</span>}],
</span></span><span style="display:flex;"><span>      [{text<span style="color:#666">:</span> <span style="color:#b44">&#34;Copyright (c) 2018 Bill Farmer  All rights reserved&#34;</span>,
</span></span><span style="display:flex;"><span>        size<span style="color:#666">:</span> <span style="color:#666">12</span>,
</span></span><span style="display:flex;"><span>        color<span style="color:#666">:</span> <span style="color:#666">150</span>,
</span></span><span style="display:flex;"><span>        y<span style="color:#666">:</span> <span style="color:#666">496</span>}]},
</span></span><span style="display:flex;"><span>     answers<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>     {B<span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>      {desc<span style="color:#666">:</span> <span style="color:#b44">&#34;Description...&#34;</span>,
</span></span><span style="display:flex;"><span>       <span style="color:#666">12</span><span style="color:#666">:</span>
</span></span><span style="display:flex;"><span>       {type<span style="color:#666">:</span> <span style="color:#b44">&#34;Type&#34;</span>,
</span></span><span style="display:flex;"><span>        text<span style="color:#666">:</span> <span style="color:#b44">&#34;Paragraph of text...&#34;</span>},...}
</span></span><span style="display:flex;"><span>    }};
</span></span></code></pre></div><p>The fields are:</p>
<ul>
<li><strong>pages</strong> - Preamble pages with images, with fields:
<ul>
<li><strong>pageno</strong> - Page number</li>
<li><strong>images</strong> - Array of images with fields:
<ul>
<li><strong>src</strong> - Path to image file</li>
<li><strong>type</strong> - Type of image, png or jpeg</li>
<li><strong>y</strong> - Y coordinate, if -1 bottom edge, optional</li>
<li><strong>x</strong> - X coordinate, if -1 right edge, optional</li>
<li><strong>height</strong> - height of image, optional</li>
<li><strong>width</strong> - width of image, optional. If width and no height,
image will be scaled in proportion</li>
<li><strong>link</strong> - URL of link for image</li>
</ul>
</li>
<li><strong>text</strong> - Text for page with fields:
<ul>
<li><strong>size</strong> - Font size in points, optional</li>
<li><strong>type</strong> - Type of font, optional</li>
<li><strong>color</strong> - Text colour, optional</li>
<li><strong>y</strong> - Y coordinate, optional</li>
</ul>
</li>
</ul>
</li>
<li><strong>last</strong> - Last page with images and text, same fields, no pageno</li>
<li><strong>answers</strong> Paragraphs of text for the report after the preamble
with fields:
<ul>
<li><strong>Type</strong> - Type of answer with fields:
<ul>
<li><strong>desc</strong> - Description of type</li>
<li><strong>Score</strong> - Value of score for that type with fields:
<ul>
<li><strong>type</strong> - Description of result</li>
<li><strong>text</strong> - Paragraph of explanatory text</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>The report can contain several pages of preamble with images and
text. Images with no coordinates or dimensions will be placed full
width at the top of the page. Images with a <code>y</code> coordinate of <code>-1</code>
will be placed full width at the bottom of the page. Images with an
<code>x</code> coordinate of <code>-1</code> will be placed at the right margin of the
page. All coordinates, sizes and dimensions are in points, 1/72
inch. The fields from the contact panel may be included in text by
using <code>~forename~</code> and <code>~lastname~</code>.</p>
<p>The description and text for each type for each score will appear on
subsequent pages. The images and text for the last page will appear
after the results.</p>

    </p>
    
    

<hr>
<h3>See Also</h3>
<ul>
  
  <li><a href="/blog/post/create-pdf-report/">Create PDF Report</a></li>
  
  <li><a href="/blog/whatever-o-meter-revisited/">Whatever-o-meter revisited</a></li>
  
  <li><a href="/blog/whatever-o-meter/">Whatever-o-meter</a></li>
  
  <li><a href="/blog/migrating-blog-from-wordpress/">Migrating this blog from Wordpress</a></li>
  
  <li><a href="/blog/slimstat/">SlimStat</a></li>
  
</ul>


      <hr>
  </div>

  


        </div>
          <div class="medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">

  

  

  <h4>Recent Posts</h4>
  <ul>
    
      <li><a href="/blog/update-widget/">
        Update App Widget
      </a></li>
    
      <li><a href="/blog/turkey-cabbage-wraps/">
        Turkey Cabbage Wraps
      </a></li>
    
      <li><a href="/blog/create-word-grid/">
        Create a Word Grid
      </a></li>
    
      <li><a href="/blog/read-paywalled-articles/">
        Read Paywalled Newspaper Articles
      </a></li>
    
      <li><a href="/blog/risotto-milanese/">
        Risotto Milanese
      </a></li>
    
      <li><a href="/blog/android-flutter/">
        Android Flutter
      </a></li>
    
      <li><a href="/blog/android-kotlin/">
        Android Kotlin
      </a></li>
    
      <li><a href="/blog/word-count/">
        Android Word Count
      </a></li>
    
      <li><a href="/blog/pea-and-ham-soup/">
        Pea and Ham (or Bacon) Soup
      </a></li>
    
      <li><a href="/blog/caldo-verde/">
        Caldo Verde
      </a></li>
    
  </ul>

  
    <h4>Links</h4>
    <ul>
      
        <li><a href="https://github.com/billthefarmer">
          Github
        </a></li>
      
        <li><a href="https://gitlab.com/williamjfarmer">
          Gitlab
        </a></li>
      
        <li><a href="http://billthefarmer.github.io">
          Home
        </a></li>
      
    </ul>
  

  </div>
</div>

      </div>
    </main>

    <footer class="blog-footer">
      <div class="row column">
        <p>
          
          Copyright © 2023 Bill Farmer
          
        </p>
        <p>
          <a href="https://billthefarmer.github.io/blog/post/questionnaire/#">Back to top</a>
        </p>
      </div>
    </footer>

  <foot>

    <script src="https://billthefarmer.github.io/blog/js/app.js"></script>

  </foot>
  </body>
</html>
