<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<meta property="og:title" content="Bill Farmer" />
<meta property="og:description" content="Random thoughts on random subjects" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://billthefarmer.github.io/blog/" />

<meta itemprop="name" content="Bill Farmer">
<meta itemprop="description" content="Random thoughts on random subjects">
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Bill Farmer"/>
<meta name="twitter:description" content="Random thoughts on random subjects"/>






<meta name="generator" content="Hugo 0.115.0">


    <base href="https://billthefarmer.github.io/blog/">
    <link rel="canonical" href="https://billthefarmer.github.io/blog/">
    <title>Bill Farmer</title>

    <!-- CSS -->
    <link href="https://billthefarmer.github.io/blog/css/app.css" rel="stylesheet">
    
    <!-- RSS 2.0 feed -->
      <link rel="alternate" type="application/rss+xml" href="https://billthefarmer.github.io/blog/index.xml" title="Bill Farmer" />
    

    
    

<style>
.callout.large {
    background-image: url(https://billthefarmer.github.io/blog/images/2013/12/cropped-P1010089.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.callout.large a, .callout.large p {
    color: white;
}
pre {
    margin-top: 16px;
    margin-bottom: 16px;
}
code {
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a;
}
table {
    width: auto !important;
}
</style>




  </head>
  <body>

    <header class="nav">
      <div class="top-bar">
        <div class="row column">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="active"><a href="https://billthefarmer.github.io/blog/">
                Home
              </a></li>
              
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/">
                    Categories
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/hacking/">
                    Hacking
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/recipes/">
                    Recipes
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/diy/">
                    DIY
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/categories/electronics/">
                    Electronics
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/index/">
                    Index
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/morris-o-meter/">
                    Morris-o-meter
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/about/">
                    About
                  </a></li>
                
                  <li><a href="https://billthefarmer.github.io/blog/test-o-meter/">
                    Test-o-meter
                  </a></li>
                
              
            </ul>
          </div>
        </div>
      </div>
    </header>

    <header class="blog-header">
      <div class="callout large">
        <div class="row column text-center">
          <h1>
            <a href="https://billthefarmer.github.io/blog/" rel="home">Bill Farmer</a>
          </h1>
          
            <p>
              Random thoughts on random subjects
            </p>
          
        </div>
      </div>
    </header>

    <main>
      <div class="row" id="content">
        <div class="medium-8 columns">
          




  




  

<div class="blog-post">
  <h3>
    <a href="https://billthefarmer.github.io/blog/post/questionnaire/">Questionnaire Maker</a>
  </h3>
  <div class="callout small">
    <small>
      <time datetime="2018-08-20T17:14:32&#43;01:00">
        Mon Aug 20, 2018
      </time> by Bill Farmer.
      Categories: 
  
    
      <a href="/categories/hacking">
        Hacking
      </a>
  

.
      
    </small>
  </div>
  <p>
    Introduction Questionnaire Maker is a WordPress and Hugo plugin that asks a series of questions and produces a PDF report. The project is on Github.
Documentation The plugin uses the shortcodes [questionnaire-questions] and [questionnaire-report], or {{&lt; questionnaire-questions &gt;}} and {{&lt; questionnaire-report &gt;}}. The shortcode will be replaced on the page with a series of panels containing the questions and options for the answers, or a panel with a preview of the report.
  </p>
  <a href='https://billthefarmer.github.io/blog/post/questionnaire/'>Read more →</a>
  <hr>
</div>


  

<div class="blog-post">
  <h3>
    <a href="https://billthefarmer.github.io/blog/post/smart-meters/">Smart Meters</a>
  </h3>
  <div class="callout small">
    <small>
      <time datetime="2018-07-14T21:22:37&#43;01:00">
        Sat Jul 14, 2018
      </time> by Bill Farmer.
      Categories: 
  
    
      <a href="/categories/electronics">
        Electronics
      </a>
  

.
      
    </small>
  </div>
  <p>
    CALMU Smart meters are not a new idea. I was a member of a project in the early 1980s which designed and rolled out a prototype smart meter which was far ahead of it&rsquo;s time. The unit was called a CALMU (Credit and Load Management Unit). It was capable of recording electricity consumption with several tariffs, gas consumption, with a connection to a suitable gas meter and water use, with a connection to a suitable water meter.
  </p>
  <a href='https://billthefarmer.github.io/blog/post/smart-meters/'>Read more →</a>
  <hr>
</div>


  

<div class="blog-post">
  <h3>
    <a href="https://billthefarmer.github.io/blog/post/mullard-5-20-amplifier/">Mullard 5-20 Amplifier</a>
  </h3>
  <div class="callout small">
    <small>
      <time datetime="2018-07-01T16:25:18&#43;01:00">
        Sun Jul 1, 2018
      </time> by Bill Farmer.
      Categories: 
  
    
      <a href="/categories/electronics">
        Electronics
      </a>
  

.
      
    </small>
  </div>
  <p>
    Many years ago one of my brothers&rsquo; friends brought me a faulty military surplus valve amplifier which used 807 valves for the output. It appeared to have suffered a flashover which had destroyed much of the wiring and components inside the chassis, but the tagboards appeared to be reusable.
I had a copy of a Mullard amplifier book, Mullard Circuits for Audio Amplifiers at the time, which I subsequently lent so someone who never returned it.
  </p>
  <a href='https://billthefarmer.github.io/blog/post/mullard-5-20-amplifier/'>Read more →</a>
  <hr>
</div>


  

<div class="blog-post">
  <h3>
    <a href="https://billthefarmer.github.io/blog/post/handling-resizing-in-windows/">Handling Resizing in Windows</a>
  </h3>
  <div class="callout small">
    <small>
      <time datetime="2018-06-19T20:23:44&#43;01:00">
        Tue Jun 19, 2018
      </time> by Bill Farmer.
      Categories: 
  
    
      <a href="/categories/hacking">
        Hacking
      </a>
  

.
      
    </small>
  </div>
  <p>
    I have a windows app where I want the app window to maintain it&rsquo;s aspect ratio when it is resized. Windows provides two mechanisms for this, the WM_SIZE message and the WM_SIZING message. The WM_SIZE message is sent when a window has been resized to allow child windows to be resized, the WM_SIZING message is sent while the user is resizing it to allow the size to be adjusted. The messages are handled in the WindowProc callback function.
  </p>
  <a href='https://billthefarmer.github.io/blog/post/handling-resizing-in-windows/'>Read more →</a>
  <hr>
</div>


  

<div class="blog-post">
  <h3>
    <a href="https://billthefarmer.github.io/blog/swift/">Swift</a>
  </h3>
  <div class="callout small">
    <small>
      <time datetime="2018-03-28T15:56:14Z">
        Wed Mar 28, 2018
      </time> by Bill Farmer.
      Categories: 
  
    
      <a href="/categories/hacking">
        Hacking
      </a>
  

.
      
    </small>
  </div>
  <p>
    Some years ago I wrote an OSX app in C using Carbon because my Hackintosh would only run OSX 10.4 (Tiger). The most difficult part was dealing with the Core Audio API.
I recently decided to port it to Swift to avoid having to attempt to learn Objective C. A derivation of C that sends selectors to targets using the syntax [target selector arguments...] I don&rsquo;t want to know about.
  </p>
  <a href='https://billthefarmer.github.io/blog/swift/'>Read more →</a>
  <hr>
</div>




  <div>
    
      <a class="button" href="/blog/page/6/">Previous page</a>
      <a class="button" href="/blog/page/8/">Next page</a>
    
    
    
    <hr>
  </div>



        </div>
          <div class="medium-3 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="content">

  

  

  <h4>Recent Posts</h4>
  <ul>
    
      <li><a href="/blog/update-widget/">
        Update App Widget
      </a></li>
    
      <li><a href="/blog/turkey-cabbage-wraps/">
        Turkey Cabbage Wraps
      </a></li>
    
      <li><a href="/blog/create-word-grid/">
        Create a Word Grid
      </a></li>
    
      <li><a href="/blog/read-paywalled-articles/">
        Read Paywalled Newspaper Articles
      </a></li>
    
      <li><a href="/blog/risotto-milanese/">
        Risotto Milanese
      </a></li>
    
      <li><a href="/blog/android-flutter/">
        Android Flutter
      </a></li>
    
      <li><a href="/blog/android-kotlin/">
        Android Kotlin
      </a></li>
    
      <li><a href="/blog/word-count/">
        Android Word Count
      </a></li>
    
      <li><a href="/blog/pea-and-ham-soup/">
        Pea and Ham (or Bacon) Soup
      </a></li>
    
      <li><a href="/blog/caldo-verde/">
        Caldo Verde
      </a></li>
    
  </ul>

  
    <h4>Links</h4>
    <ul>
      
        <li><a href="https://github.com/billthefarmer">
          Github
        </a></li>
      
        <li><a href="https://gitlab.com/williamjfarmer">
          Gitlab
        </a></li>
      
        <li><a href="http://billthefarmer.github.io">
          Home
        </a></li>
      
    </ul>
  

  </div>
</div>

      </div>
    </main>

    <footer class="blog-footer">
      <div class="row column">
        <p>
          
          Copyright © 2023 Bill Farmer
          
        </p>
        <p>
          <a href="https://billthefarmer.github.io/blog/#">Back to top</a>
        </p>
      </div>
    </footer>

  <foot>

    <script src="https://billthefarmer.github.io/blog/js/app.js"></script>

  </foot>
  </body>
</html>
